.body {
    background-color: red;
}

h1 {
    background-color: rgb(50, 135, 205);
    color: whitesmoke;
    text-align: center;
    display: block;
    margin: auto;
    padding: 50px;
    border-radius: 4px;
}

h2 {
    text-align: center;
    background-color: rgb(31, 76, 159);
    color: white;
    border-radius: 4px;
}

form {
    text-align: center;
    margin-top: 30px;
}

#paris {
    font-size: 40px;
}

.card {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: -2px;
    background-color: rgb(0, 55, 255);
}

#image {
    font-size: 30px;
}

.container {
    background-color: rgb(11, 122, 207);
}
#text{
    text-align: center;
    color: brown;
    display: block;
    margin: auto;
}
p{
    text-align: center;
    color: red;
}
#code{
    text-align: center;
    display: block;
    margin: auto;
}
.celsius{
    cursor: default;
}
.celsius:hover{
text-decoration: none;
}
#dayy{
    color: beige;
    margin-top: 20px;
    margin-bottom: -50px;
}
#imagess{
    size-adjust: 1px;
    color: aliceblue;
}
#degrees{
    color: beige;
    margin-top: -50px;
}